.avatar
{
    display: flex;
    flex-direction: column;
}

.avatar-img
{
    width: 35px;
    background: rgb(255,172,109);
    display: flex;
    justify-content: center;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    align-items: center;
    height: 35px;
}

.avatar-img p
{
    font-size: 14px;
    color: #fff;
}

.avatar img
{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.avatar-info
{
    transform: translate(23px,-11px);
    color: #ccc;
    color: #26f87d;
}